
@mixin flex($justy:start, $align:stretch, $gap:2rem, $dir:row, $wrap:nowrap) {
    display:flex;
    justify-content: $justy;
    align-items: $align;
    gap: $gap;
    flex-direction: $dir;
    flex-wrap: $wrap;
}

@mixin  transition($select:all, $time:0.4s, $style:ease-in) {
    transition: $select $time $style;
}

@mixin image($resize:cover) {
    width: 100%;
    height: 100%;
    object-fit: $resize;
}

@mixin elipsis($line:2) {
    display: inline-block;
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
}